-content_for :head do
  %title Backgrounds | You Would Think It Boring But...
%h1 Background Properties
%h2 Gradients
%p 
  Using gradients on the web is nothing new, <em>24-bit pngs</em> have aided us for years in creating gradations of color as well as #{ link_to('drop shadows', 'shadows.html')}. While this was a boon to the industry it lacked the flexibility that growing web standard proposed. In the coming days gradients will be live and flexible allowing us to us to use them in ways never seen before.
%p
  %input{ :type => 'button', :value => 'Toggle #main Gradient', :class => "toggle-gradient inline" } 
  %input{ :type => 'button', :value => 'Toggle Vibrant Gradient', :class => "toggle-vibrant-gradient inline" }
%p
  To get a better idea of whats possible check out Colorzilla's #{ link_to('The Ultimate CSS Gradient Generator', 'http://www.colorzilla.com/gradient-editor/') }. There is also a great article called #{ link_to('Speed Up with CSS3 Gradients', 'http://css-tricks.com/5700-css3-gradients/')} that will go into some of the finer points.
%h3 Browser Support
%p IE7-8 does not support css gradients but they do have a #{ link_to('filter', 'http://msdn.microsoft.com/en-us/library/ms532997(v=vs.85).aspx')} that will yield similar results, IE9 does support multi-stop linear gradients if you use <em>SVG</em>. Prior to the more recent Webkit releases Safari and Chrome used a method outside the spec which will require you to use the legacy syntax as well as the modern if you wish to support them all.
%h4 Old Webkit
:coderay
  #!css
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#1a82f7));
%h4 New Webkit
:coderay
  #!css
  background-image: -webkit-linear-gradient(top, #2F2727, #1a82f7);
%h3 Cross Browser Solution
%p Outside of filters and <em>SVG</em> you may also find #{link_to('CSS3 Pie', 'http://css3pie.com/documentation/supported-css3-features/#gradients')} useful.
%h2 Background Size
%p Lately there has been a lot of sites using full size background images that scale with the window while keeping aspect ratio, this is achieved by setting the <em>background-size</em> property to cover.
%h3 Full screen background images
:coderay
  #!css
  #element {
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
  }
%p
  %input{ :type => 'button', :value => 'Toggle Full Background', :class => "toggle-full-background" } 
%h3 Scaled background images
:coderay
  #!css
  /* The original size */
  #example1 {
    background-size: auto;
  }
  /* Specific size */
  #example2 {
    background-size: 275px 125px;
  }
  /* You can also use percantages */
  #example3 {
    background-size: 58% 125%;
  }
%p
  %input{ :type => 'button', :value => 'Toggle Scaled Background', :class => "toggle-scaled-background" }
%h3 Browser Support
%p The background size property is supported by all modern browser with the exception of IE7-8. 
%h3 Cross Browser Solutions
%p #{link_to('CSS Tricks', 'http://css-tricks.com/3458-perfect-full-page-background-image/')} has a tutorial that might be of some help in supporting IE7-8 but it wont be perfect for all situations. In the event that the IE filters don't fit your needs you could also use javascript to calculate the image size.
%h4 Javascript
:coderay
  #!javascript
  for (objectWidth = windowWidth; objectHeight <= windowHeight; objectWidth += 1) {
             
            $(object)
                .css({
                    'width': objectWidth
                });
        }
%h4 Please Note
%p A method like the above will require you to add the image to the <em>DOM</em>, then reposition it after its been sized.
%h2 Multiple Backgrounds
%section.flex-box
  %section.box-1
    %p 
      Some of the most popular effects could be made a lot easier to manage through the use of of multiple backgrounds. Parallax and mosaics are just the beginning, it will be really interesting to see what is done when we no longer have to worry about IE7-8.  
    %h3 Something Practical
    %p Using multiple backgrounds eliminates the need for extra markup and styling to achieve the same background this page has with all five toggled.
  %section.box-2
    %p 
      %input{ :type => 'button', :value => 'Toggle Background 1', :class => "toggle-full-background inline" } 
    %p
      %input{ :type => 'button', :value => 'Toggle Background 2', :class => "toggle-background-1 inline" }
    %p
      %input{ :type => 'button', :value => 'Toggle Background 3', :class => "toggle-background-2 inline" }
    %p
      %input{ :type => 'button', :value => 'Toggle Background 4', :class => "toggle-background-3 inline" }
    %p
      %input{ :type => 'button', :value => 'Toggle Background 5', :class => "toggle-background-4 inline" }

%h4 Without Multiple Backgrounds
%p
  %strong HTML
:coderay
  #!html
  <body>
    <div id="one"></div>
    <div id="two"></div>
    <div id="three"></div>
    <div id="four"></div>
  </body>
%p
  %strong CSS
:coderay
  #!css
  body {
    background: url("/images/1.jpg") no-repeat center center fixed;
    background-color: #333333;
  }
  .one {
    background: url("/images/1.jpg") 0 0 no-repeat fixed;
  }
  .two {
    background: url("/images/1.jpg") no-repeat 100% 0 fixed;
  }
  .three {
    background: url("/images/1.jpg") no-repeat 0 100% fixed;
  }
  .four {
    background: url("/images/1.jpg") no-repeat 100% 100% fixed;
  }
%h4 With Multiple Backgrounds
%p
  %strong HTML
:coderay
  #!html
    <body></body>
%p
  %strong CSS
:coderay
  #!css
  body {
    background: url('/images/1.jpg') 0 0 no-repeat fixed, url('/images/1.jpg') no-repeat 100% 0 fixed, url('/images/1.jpg') no-repeat 0 100% fixed, url('/images/1.jpg') no-repeat 100% 100% fixed, url('/images/1.jpg') no-repeat center center fixed;
    background-color: #333333;
    background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px, cover;
  }
%h3 Browser Support
%p Multiple background images are supported by all modern browser and back a few generations with the exception of IE7-8. I did find an #{ link_to('article', 'http://76.74.170.157/post_Cross_Browser_Multi_background_images__including_I-16839.html')} that shows you how to achieve multiple backgrounds in IE7-8 using filters but I've yet to test it and have had issues with using the IE filters. For more information please proceed to #{ link_to('caniuse.com', 'http://caniuse.com/#search=multiple backgrounds')}
%h3 Cross Browser Solution
%p If you wish to use multiple background in IE7-8 I've had #{ link_to('success', 'http://www.baileysrange.com/')} using  #{link_to('CSS3 Pie', 'http://css3pie.com/documentation/supported-css3-features/#pie-background')}.
%h2 Mask Image
%p While currently a <em>Webkit</em> only property the #{ link_to('mask image', 'http://trentwalton.com/2011/05/19/mask-image-text/')} represents quite a step forward stylized text. 
%h2 Background Clip 
%p The following #{link_to('example', 'http://trentwalton.com/bgclip/')} may look like the above mentioned but there is a major difference. In the current example the background of the parent containing the text is visible whereas the above mentioned has the texture applied directly to the text. To aid you in understanding the concepts imagine that all <em>Photoshop</em> conventions apply. The current example is nothing more than a <em>clipping mask</em> whereas the previous is a texture applied to the text via <em>layer style</em>.
