- content_for :head do
  %title Borders | More Than Just Round Corners
%h1 Borders In All Shapes &amp; Sizes
%h2 Border Radius
%p.round Look Ma No Images!
%p During the days of tables it was a very simple process but with the advent of css and emphasis on semantic markup its been an uphill battle. With the growing support of the specification no longer will we have to rely on complex positioning of background images or javascript libraries.
%h2 Browser Support
%p There is a great article with a #{link_to('Table of CSS3 border-radius Compliance', 'http://muddledramblings.com/table-of-css3-border-radius-compliance/')} which details the current support for the module. In short don't expect to have perfect cross browser support until IE9 is old news, until then there are a litany of #{link_to('articles', 'http://smashingshare.com/2009/11/10/best-collection-of-css-rounded-corners-tutorials/')} detailing solutions for cross browser round corners, my personal favorite being #{link_to('CSS3 PIE', 'http://css3pie.com/')}.
%h2 Negative Border Radius
%p While the title of the article #{link_to('Beveled corners &amp; negative border-radius with CSS3 gradients', 'http://lea.verou.me/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/')} is a little misleading it does give an excellent example of things to come.
:plain
  <iframe style="width: 100%; height: 525px" src="http://jsfiddle.net/leaverou/EjE7c/embedded/result,css,html"></iframe>
%p There are lot of little experiments happening all over the web which will probably make their way into the specification in one shape or another.
%h2 Browser Support
%p Will not work in IE however there is a #{link_to('javascript solution','http://jquery.malsup.com/corner/')} that has cross browser support with many different styling options.
%h1 Border Radius Is Just The Beginning 

%h2 The Shape Of Things To Come
%p While not entirely practical I can see some utility in #{link_to('CSS Shapes', 'http://www.css3shapes.com/')}. Ultimately I think the <em>HTML5 Canvas</em> tag or <em>SVG</em> will be of more utility in this kind of pursuit but these might be a better fit for some projects.
%ul#shapes
  %li 
    #circle
  %li 
    #square
  %li 
    #oval
  %li 
    #up-triangle
  %li 
    #down-triangle
  %li 
    #left-triangle
  %li 
    #right-triangle
  %li 
    #trapezium
  %li 
    #diamond
  %li 
    #rectangle
  %li 
    #parallelogram
  %li 
    #twelve-point-star
  %li 
    #six-point-star
  %li 
    #octagon
  %li 
    #speech-bubble
  %li 
    #egg
  %li 
    #eq-triangle
  %li 
    .pacman
  %li 
    .biohazard
  %li 
    #heart
%h2 Browser Support
%p At this point we already know that border radius doesn't work in IE7-8 but what might surprise a few is that the shapes not requiring a radius display just fine in IE7-8.
%h2 Border Treatments
%p CSS Tricks has an excellent article #{link_to('Understanding border-image', 'http://css-tricks.com/6883-understanding-border-image/')} explaining one of the more complicated additions to the CSS3 specification. Following up the article Nora Brown Design created an #{ link_to('interactive css3 border-image demo', 'http://www.norabrowndesign.com/css-experiments/border-image-anim.html')}. Support so far seems to only be in <em>Webkit</em> and <em>Geko</em> based browsers and likely only the more recent. Whats more the implementation is not per the W3 spec and is incredibly complicated.