- content_for :head do
  %title Borders | CSS3
%h1 Border Properties
%h2 Border Radius
%p.round Look Ma No Images!
%h3 Code Free Testing!
%p If you would like to test the border radius property you can do so a #{ link_to('CSS Maker', 'http://www.css3maker.com/border-radius.html')}
%h3 Browser Support
%p IE7-8 does not support the border radius property, all modern browsers do however. For more information proceed to #{ link_to('caniuse.com', 'http://caniuse.com/#search=border-radius' )}.
%h3 Cross Browser Solution
%p If you're ok with solving the problem with javascript #{link_to('CSS3 PIE', 'http://css3pie.com/')} is worth checking out.
%h3 The Shape Of Things To Come
%p While not entirely practical I can see some utility in #{link_to('CSS Shapes', 'http://www.css3shapes.com/')}. Ultimately I think the <em>HTML5 Canvas</em> tag or <em>SVG</em> will be of more flexible in this kind of pursuit but these might be a better fit for some projects.
%ul#shapes
  %li 
    #circle
  %li 
    #square
  %li 
    #oval
  %li 
    #up-triangle
  %li 
    #down-triangle
  %li 
    #left-triangle
  %li 
    #right-triangle
  %li 
    #trapezium
  %li 
    #diamond
  %li 
    #rectangle
  %li 
    #parallelogram
  %li 
    #twelve-point-star
  %li 
    #six-point-star
  %li 
    #octagon
  %li 
    #speech-bubble
  %li 
    #egg
  %li 
    #eq-triangle
  %li 
    .pacman
  %li 
    .biohazard
  %li 
    #heart
%h3 Browser Support
%p Border radius doesn't work in IE7-8 but whats surprising is that the shapes not requiring a border radius display just fine in IE7-8.
%h2 Border Image
%p CSS Tricks has an excellent article #{link_to('Understanding border-image', 'http://css-tricks.com/6883-understanding-border-image/')} explaining one of the more complicated additions to the CSS3 specification. Following up the article Nora Brown Design created an #{ link_to('interactive css3 border-image demo', 'http://www.norabrowndesign.com/css-experiments/border-image-anim.html')}.
%h3 Browser Support
%p Support so far seems to only be in <em>Webkit</em> and <em>Geko</em>. For more information proceed to #{ link_to('caniuse.com', 'http://caniuse.com/#search=border image')}