-content_for :head do
  %title CSS3 | Looking Forward To The Future
  
%h1 The Future of CSS

%h2 The purpose of this site
%p To facilitate conversation about CSS3 between developers and designers with the ultimate goal of creating better and more advanced websites.

%h2 Beginners Guide

%p
  Zen Elements offers has a wonderful series of articles on #{ link_to('CSS3', 'http://www.zenelements.com/blog/css3-introduction/')} that will quickly get you up to speed. Eric Meyer the CSS guru has also cited #{link_to('http://www.css3.info/', 'http://www.css3.info/')} as a good start.

%blockquote
  %p http://css3.info/ is a good start.  There aren’t a ton of resources out there beyond that, I think mostly because so little of CSS3 is widely supported.
  %cite 
    =link_to('Eric Meyer', 'http://sixrevisions.com/interviews/six-questions-eric-meyer-on-css3/')
%h2 Code Free Testing!
%p If you would like to test any of the properties without having to touch any code you can use the #{ link_to('CSS Maker', 'http://www.css3maker.com/')} WYSIWYG editor.
%h2 Current Support

%p In the event that the pages don't cover the property you're interested in you should be able to find an answer using the excellent #{ link_to('Can I Use', 'http://caniuse.com/')} compatibility tables.

%p While not comprehensive this list does give an idea of whats to be expected from each browser. In short you can start developing with CSS3 today as long as you take time to ensure your IE users experience with some kind of fallback or alternative. The chart below can be found in the #{link_to('introduction article', 'http://www.zenelements.com/blog/css3-introduction/')} of the Zen Elements CSS3 Series.
  
%p.center
  =image_tag('browser-compatability-chart.png', :alt => '', :class => 'image-center')

%h2 In the future

%h3 Interface Design
%p Its possible that in the future most interface design will be done in the browser. #{ link_to('Case in point.', 'http://vimeo.com/8790087')}
  
%h3 Pros &amp; cons

#pros-and-cons.box-1
  #pros.box-2
    %h4 Pros
    %ul
      %li Designers that are well versed in web standards and conventions
      %li Version controlled comps
      %li Easier to implement a grid based design
      %li CSS solutions are exhausted before images are considered 
      %li Concepts are tested in the browser before the client ever sees them
      %li Quicker turn around
  #cons.box-2
    %h4 Cons
    %ul
      %li Cross Training
      %li The process might be stifling to the creativity of some
      %li To achieve the benefit of being able to use design code as development and eventually production the team would have to adhere to a very ridged coding standard

%h2 Conclusion
%h3 Adoption strategy for the present

%p 
  %strong Q. 
  Do web sites need to look exactly the same in every browser?
  %br
  %strong A.
  #{ link_to('Answer', 'http://dowebsitesneedtolookexactlythesameineverybrowser.com/')}, see #{ link_to('progressive enhancement', 'http://perishablepress.com/press/2010/01/11/css3-progressive-enhancement-smart-design/')}.