!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    =stylesheet_link_tag "site", "coderay", "http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald|Rock+Salt", "normalize", "shapes"
    =yield_content :head
  
  %body{ :class => page_classes }
    #main{ :role => "main", :class => 'shadow gradient' }
      %nav

        %ul
          %li #{ link_to('Articles', 'articles.html')}
          %li #{ link_to('Backgrounds', 'backgrounds.html')}
          %li #{ link_to('Borders', 'borders.html')}
          %li #{ link_to('Colors', 'colors.html')}
          %li #{ link_to('Demos', 'demos.html')}
          %li #{ link_to('Fallbacks', 'fallbacks.html')}
          %li #{ link_to('Home', '/')}
          %li #{ link_to('Inspiration', 'inspiration.html')}
          %li #{ link_to('Layout Methods', 'layout-methods.html')}
          %li #{ link_to('Media Detection', 'media-detection.html')}
          %li #{ link_to('Misc', 'misc.html')}
          %li #{ link_to('Notable', 'notable.html')}
          %li #{ link_to('Shadows', 'shadows.html')}
          %li #{ link_to('Support', 'support.html')}
          %li #{ link_to('Transformations', 'transformations.html')}
          %li #{ link_to('Transitions', 'transitions.html')}
          %li #{ link_to('Tutorials', 'tutorials.html')}
      =yield
  =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js", "site"