%h1 Media Detection
%h2 Media Queries
%p While support for screen and print media queries has been available for years the current state of the module is quite different than its predecessor. We now have the ability to change the presentation of out layout based on width, height, and even orientation.
%h3 A walk through
%p #{ link_to('A List Apart', 'http://www.alistapart.com/')} has a great #{ link_to('article', 'http://www.alistapart.com/articles/responsive-web-design/')} on responsive design where they will walk you through the process of building #{ link_to('The Backer Street Inquirer', 'http://www.alistapart.com/d/responsive-web-design/ex/ex-site-FINAL.html')}.
%h3 Browser Support
%blockquote
  %p The browser support for media queries is surprisingly decent. For the queries in this particular demo (utilizing min and max widths), current version of Firefox, Safari (including Mobile), Chrome, and Opera are all supporting it. Internet Explorer 9 will be supporting it, but 8 and below do not.
  %cite
    =link_to('http://css-tricks.com/6731-css-media-queries/', 'http://css-tricks.com/6731-css-media-queries/')
%h3 Cross Browser Solution
%p CSS Tricks has a nice #{ link_to('article', 'http://css-tricks.com/6206-resolution-specific-stylesheets/')} on getting your media queries to work across all browsers and devices, he also makes note of a raw javascript solution as well as a library call #{ link_to('Respond', 'https://github.com/scottjehl/Respond')} which comes bundle with #{ link_to('HTML5 Boilerplate', 'http://html5boilerplate.com/')}.
