-content_for :head do
  %title Support | CSS3
%h1 Support
%h2 Animation
%ul
  %li #{ link_to('Ceaser', 'http://matthewlein.com/ceaser/')} - CSS easing animation tool.
  %li #{ link_to('jQuery Fallbacks', 'http://addyosmani.com/blog/css3transitions-jquery/')}
%h2 CSS3 Decorations
%ul
  %li #{ link_to('CSS3 Pie', 'http://css3pie.com/') } - A javascript solution that allows you to use CSS3 features such as box shadow, border radius, and multiple background images.
%h2 Feature support, detection, &amp; loading 
%ul
  %li #{ link_to('Can I Use', 'http://caniuse.com/')} - Compatibility Tables
  %li #{ link_to('Modernizr', 'http://www.modernizr.com/')} - Feature Detection
  %li #{ link_to('Yep Nope', 'http://yepnopejs.com/')} - Conditional Loader
%h2 Generators
%ul
  %li #{ link_to('CSS3 WYSIWYG', 'http://www.css3maker.com/index.html')}
  %li #{ link_to('CSS Gradient Generator', 'http://www.colorzilla.com/gradient-editor/')}
%h2 Media Queries
%ul
  %li #{ link_to('Respond', 'https://github.com/scottjehl/Respond')} - A fast & lightweight polyfill for min/max-width CSS3 Media Queries (for IE 6-8, and more)...
%h2 Layout
%ul
  %li
    =link_to('Flexbox', 'https://github.com/doctyper/flexie')
  %li
    =link_to('Multi Column', 'http://welcome.totheinter.net/2008/07/22/multi-column-layout-with-css-and-jquery/')
%h2 Selectors
%ul
  %li #{ link_to('Selectivizr', 'http://selectivizr.com/')} - A Javascript utility that emulates CSS3 pseudo and attribute selectors for IE6-8.
%h2 Sites to watch
%p A few pages to find inspiration as well as stay up to date on whats possible.
%ul
  %li #{ link_to('http://tympanus.net/codrops/', 'http://tympanus.net/codrops/')}
  %li #{ link_to('http://tutorialzine.com/', 'http://tutorialzine.com/')}
  %li #{ link_to('http://css-tricks.com/', 'http://css-tricks.com/')} 
  %li #{ link_to('http://www.webstuffshare.com/', 'http://www.webstuffshare.com/')}
  %li #{ link_to('http://www.zurb.com/playground', 'http://www.zurb.com/playground')}
  %li #{ link_to('http://cssglobe.com/', 'http://cssglobe.com/')}
  %li #{ link_to('http://line25.com/', 'http://line25.com/')}
%h2 Web Typography
%ul
  %li #{ link_to('Lettering', 'http://letteringjs.com/')} - A javascript solution for down to the letter control to typography.